.Airport-Window {
    height:100%; width:100%;
    position: relative;
    background-color:#ac9;
}

.Airport-Window #gates_container {
    width:100%;
    position:relative;
    box-sizing:border-box;
}

.Airport-Window #gates_container .img {
    width:100%;
    position:absolute;
    top:0px;
    left:0px;
}

.Airport-Window #gates_container #building { 
    content:url(Images/Airport/mct-terminal-Rev-1.001.png); 
    width: 100%; height: 100%; 
    /*position:relative !important;*/
}

.Airport-Window #gates_container #gates_nc { 
    content:url(Images/Airport/mct-gate-nc-Rev-1.001.png); 
    width: 100%; height: 100%; 
    position:relative !important;
    visibility: hidden;
}

/* CID Planes */
.Airport-Window #gates_container .gate_status { width: 100%; height: 100%; opacity: 1; filter: alpha(opacity=100); }
.Airport-Window #gates_container .gate_plane { width: 100%; height: 100%; opacity: 1; filter: alpha(opacity=100); }

/* Status Colors via svg filter */
.Airport-Window .stat-nc   { filter:url(#svg-ghost); }
.Airport-Window .stat-bq   { filter:url(#svg-gray); }
.Airport-Window .stat-logged    { filter:url(#svg-green); }
.Airport-Window .stat-warning    { filter:url(#svg-yellow); }
.Airport-Window .stat-docked    { filter:url(#svg-orange); }
.Airport-Window .stat-alarm    { filter:url(#svg-red); }


.Airport-Window #gates_container a.gate_link {
    position:absolute;
    white-space:nowrap;
    border:none;
    width:auto !important;
}
.Airport-Window #gates_container .gate_fire {
    padding: 3px 5px;
    background-color: #c00;
    color: #fff;
    font-weight: bold;
    font-size:12px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.1);
    text-decoration:none !important;
    margin-top:3px;
}
.Airport-Window #gates_container .gate_fire:after {
    content:"Fire Alarm";
}

.Airport-Window #gates_container #gateA2 { top:10%;left:28%; }
.Airport-Window #gates_container #gateA3 { top:36%;left:21%; }
.Airport-Window #gates_container #gateA4 { top:12%;left:24%; }
.Airport-Window #gates_container #gateA6 { top:14%;left:21%; }
.Airport-Window #gates_container #gateA7B { top:39%;left:13%; }
.Airport-Window #gates_container #gateA7F { top:35%;left:15%; }
.Airport-Window #gates_container #gateA8B { top:15%;left:16%; }
.Airport-Window #gates_container #gateA8F { top:19%;left:13%; }
.Airport-Window #gates_container #gateA9B { top:43%;left:6%; }
.Airport-Window #gates_container #gateA9F { top:39%;left:9%; }
.Airport-Window #gates_container #gateA10B { top:10%;left:9%; }
.Airport-Window #gates_container #gateA10F { top:23%;left:7%; }
.Airport-Window #gates_container #gateB1 { top:9%;left:57%; }
.Airport-Window #gates_container #gateB2 { top:36%;left:56%; }
.Airport-Window #gates_container #gateB3 { top:12%;left:61%; }
.Airport-Window #gates_container #gateB4B { top:36%;left:62%; }
.Airport-Window #gates_container #gateB4F { top:32%;left:66%; }
.Airport-Window #gates_container #gateB5 { top:13%;left:65%; }
.Airport-Window #gates_container #gateB7B { top:13%;left:72%; }
.Airport-Window #gates_container #gateB7F { top:18%;left:69%; }
.Airport-Window #gates_container #gateB8B { top:37%;left:69%; }
.Airport-Window #gates_container #gateB8F { top:33%;left:72%; }
.Airport-Window #gates_container #gateB9 { top:15%;left:76%; }
.Airport-Window #gates_container #gateB10 { top:40%;left:77%; }
.Airport-Window #gates_container #gateB11 { top:15%;left:80%; }
.Airport-Window #gates_container #gateC1 { top:41%;left:50%; }
.Airport-Window #gates_container #gateC2 { top:38%;left:28%; }
.Airport-Window #gates_container #gateC3 { top:46%;left:48%; }
.Airport-Window #gates_container #gateC4 { top:41%;left:31%; }
.Airport-Window #gates_container #gateC6 { top:55%;left:33%; }
.Airport-Window #gates_container #gateC9 { top:66%;left:48%; }
.Airport-Window #gates_container #gateC10B { top:66%;left:34%; }
.Airport-Window #gates_container #gateC10F { top:71%;left:36%; }
.Airport-Window #gates_container #gateC11B { top:77%;left:48%; }
.Airport-Window #gates_container #gateC11F { top:72%;left:46%; }
.Airport-Window #gates_container #gateC12B { top:77%;left:34%; }
.Airport-Window #gates_container #gateC12F { top:82%;left:36%; }
.Airport-Window #gates_container #gateC15 { top:87%;left:49%; }
.Airport-Window #gates_container #gateC16B { top:88%;left:35%; }
.Airport-Window #gates_container #gateC16F { top:92%;left:38%; }

.k-window {
    z-index: 100 !important;
}

.k-window-titlebar {
    background-color: #BFBFBF !important;
}

.k-window-title {
    font-weight: bold !important;
}

/*CSS for gate image links*/
#AirportWindow ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#AirportWindow a {
    /*/text-indent: -1000em;*/
    position: absolute; /*hides the linked copy within the li tags to the left of the window */
    width: 50px;
    height: 25px;
    font-weight:bold;
    font-size: 11px;
    color:#000000;
    border: 1px solid yellow
}


#AirportWindow a:hover {
    cursor: pointer;
}

#AirportWindow .dataTables_wrapper, table.opc-alarm {
    font-size: 11px;
}

#AirportWindow #AirportAlarmWindow {
    position: absolute;
    min-height: 30% !important;
    min-width: 40% !important;
    /*border: 1px solid red;*/
    top: 81%;
    left: 59%;
}

#AirportWindow #AirportAlarms {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    /*border: 1px solid blue;*/
}

#AirportAlarmWindow tr.AlarmRow {
	background-color: #f00 !important;
	color: #fff !important;
	font-weight: bold !important;
	border-color: #fff !important;
}

#AirportAlarmWindow tr.AlarmRow a { color:#fff !important; }
#AirportAlarmWindow tr.AlarmRow td[class*='sorting_'] { background-color: #c00 !important; }
#AirportAlarmWindow tr.AlarmRow:hover { background-color: #f66 !important; }
#AirportAlarmWindow tr.AlarmRow:hover td[class*='sorting_'] { background-color: #c66 !important; }

#AirportAlarmWindow tr.WarningRow {
	background-color: #ff0 !important;
	color: #000 !important;
	font-weight: normal !important;
	border-color: #fff !important;
}
#AirportAlarmWindow tr.WarningRow a { color:#000 !important; }
#AirportAlarmWindow tr.WarningRow td[class*='sorting_'] { background-color: #cc0 !important; }
#AirportAlarmWindow tr.WarningRow:hover { background-color: #ff9 !important; }
#AirportAlarmWindow tr.WarningRow:hover td[class*='sorting_'] { background-color: #cc9 !important; }

/*END OF CSS Image LInk*/